* {
  box-sizing: border-box; 
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  color: #414042;
}
h1{
    font-size: 92px;
    font-weight: 400;
    line-height: 119px;
    letter-spacing: 0em;
}
h2{
    font-style: normal;
    font-weight: 400;
    font-size: 63.2223px;
    line-height: 80px;
}
h3{
    font-size: 60px;
    font-weight: 400;
    line-height: 89px;
    letter-spacing: 0em;
}
h5{
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
}
p{
    font-family: Oswald;
    font-size: 21px;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}
.row{
    display: flex;
    align-items: center;
}
.mb-55{
    margin-block: 55px;
}
.bg-dark{
    background: #414042;
}
.-mt-50{
    margin-top: -55px;
}
.main-h1__emphasis{
    font-weight: 600;
    color: #AE6B3F;
}

.landing-section{
    width: 100%;
    padding-inline: 8%;
    height: 130vh;
    background-image: url(./assets/main-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.nav{
    display: flex;
    padding-top: 45px;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 180px;
    height:auto;
}
.nav-separator{
    width: 50%;
}
.nav-separator img{
    width: 100%;
}
.nav-links{
    display:flex;
    gap: 20px;
    justify-content: flex-end;
}
.nav-links a{
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #AE6B3F;
    text-decoration: none;
    text-transform: uppercase;
}   
.landing-main{
    height: 100%;
    padding-right: 35%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.line-separator{
    width: 89px;
    margin-right: 10px;
}
.btn{
    width: 342.03px;
    padding-block: 5px;
    padding-inline: 20px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-decoration: none;
}
.btn-dark{
    background: #414042;
    color: #fff;
}
.btn-white{
    color: #414042;
    background: #fff;
}


/* section two */
.statistics-section{
    padding-inline: 20%;

}
.statistics-container{
    justify-content:space-around;
    padding-top: 20px;
}

.single-statistic h2, .single-statistic h5{
    color: #fff;
    text-align: center;
}
.single-statistic img{
    width: 60px;
    /* background: #D6C4AB; */

}
.vertical-separator{
    background: #fff;
    width: 1px;
    min-height: 100px;
}
.about-section{
    padding: 8%;
    justify-content:space-between;
}
.about-image{
    width: 40%;
}
.about-image img{
    width: 100%;
}
.about-description{
    width: 40%;
}
.about-description img{
    width: 100%;
}


/* projects section  */
.projects-section{
    min-height: 100vh;
    background-image: url('/assets/projects-bg.png');
    background-repeat: no-repeat;
    background-position: top right;
}
.projects-section .header{
    padding-top: 130px;
    padding-bottom:22px;
}
.projects-section .header h2{
    color: #fff;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    text-transform:  uppercase;
    padding-left: 100px;
}
.projects-section .header img{
    width: 300px;
    margin-top: 40px;
    height: 10px;
}
.projects{
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}
.single-project h4{
    color: #fff;
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
    text-transform: uppercase;
    margin-top: 15px;
}
.project-1{
    margin-left: -100px;
}
.project-1 img{
    width: 409px;
    height:auto;
    
}
.project-2{
    position: relative;
    top: -128px;
    margin-left: -79px;
}
.project-2 img{
    width: 388px;
    height:auto;
    
}
.project-3{
    position: relative;
    top: -108px;
    margin-left: -82px;
}
.project-3 img{
    width: 366px;
    height:auto;
    
}
.project-link img{
    width:200px;
    height: auto;
    position: relative;
    top: -100px;
}
.projects{
    display: flex;
}
.projects-link{
    display: flex;
    justify-content:center;
    padding-bottom: 100px;
}
.projects-link a{
    padding-block: 4px;
    padding-inline: 20px;
    text-align: center;
    background-color: #ffff;
    font-family: Oswald;
    font-size: 21px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}
/* our sercices */
.our-service_section{
    padding: 130px 0 150px 0;
}
.our-service_header{
    text-align: center;
}
.our-service_header h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 89px;
    color: #414042;
}
.our-service_header img{
    width: 450px;
    height: 10px;
}
.our-service_body{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.our-service_single{
    width: 40%;
    margin-top: 50px;
}
.our-service_body img{
    height: 111px;
    width: 110px;
}
.our-service_single h4{
    margin-block: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 25.8059px;
    line-height: 47px;
}
.our-service_single p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 33px;
}
/* footer */

.footer{
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 55px;
    gap: 10px;
}
.footer h3, .footer h3 > *{
    color: #fff;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18.9702px;
    line-height: 36px;
}
.footer .nav-links a{
    color: #fff;
    text-transform:  uppercase;
    font-weight: 300;
}